<br />
<div fxHide.lt-md>
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px">
    <section style="font-size: 40px;">WELCOME</section>
    <section>
      <p>
        ____________________________________________________________________________________________________________________________________________________________________________________________________<br />
        ____________________________________________________________________________________________________________________________________________________________________________________________________<br />
        ____________________________________________________________________________________________________________________________________________________________________________________________________<br />
        ____________________________________________________________________________________________________________________________________________________________________________________________________<br />
        ____________________________________________________________________________________________________________________________________________________________________________________________________<br />
        ____________________________________________________________________________________________________________________________________________________________________________________________________<br />
        ____________________________________________________________________________________________________________________________________________________________________________________________________<br />
        ____________________________________________________________________________________________________________________________________________________________________________________________________<br />
      </p>
    </section>
  </div>
</div>
