mat-card{
  width: 400px;
  height:400px;
  }
.cardmob{
  width: 80%;
  height: 100%;
}
#my-img:hover {
  content: url('/assets/Images/home/icon/plus.png');
}
.heading{
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
}
